.advantage__box {
  display: flex;
  background-color: $fone-comand-color;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;

  background-color: $fone-comand-color;
  border-radius: 4px;

  margin: 0;
  margin-bottom: 30px;
}

/* -----------------------------------------------------------------ОСОБЕННОСТИ------------------------------------------------------- */

.advantage__list {
  display: flex;
  padding: 0;
  margin: 0;
}
.advantage__item {
  width: calc((100% - 3 * 30px) / 4);
  align-items: center;
  justify-content: center;
}
.advantage__item:not(:last-child) {
  margin-right: 30px;
}

.advantage__icon {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.advantag__icon:last-child {
  margin-left: 0;
  margin-right: 0;
}

.advantage__text {
  line-height: 1.71;
  color: $primary-text-color;
}

.title-list {
  text-align: left;
  padding: 0;
  margin: 0;
  display: flex;
}
.advantage__title {
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  align-items: center;
  justify-content: center;

  color: $title-text-color;
}
.advantage__content {
  display: block;
  text-align: left;
  justify-content: end;
  align-items: center;
}
